:root {
    --color-accent: #2c5881;
    --color-base: #2b58800f; 
    --color-text-on-accent: white;
    --color-text-on-base: #474a50c9;
    --color-text-accent: #474a50;
}

body {
    background-color: white;
    font-size: 16px;
}

h1 {
    font-size: 56px;
    width: 30%;
    line-height: 1;
}

h2 {
    font-size: 20px;
}

h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--color-text-accent);
}

a {
    border-bottom: 1px dashed var(--color-text-on-base);
    max-width: fit-content;
    line-height: 1.2;
}


a:hover {
    color: var(--color-accent);
    border-bottom: 1px solid var(--color-accent);
}

li {
    padding-bottom: 5px;
}

li::marker {
    content: '- ';
}

.page {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 30px auto;
}

.top_block {
    background-color: var(--color-accent);
    color: var(--color-text-on-accent);
    position: relative;
    padding: 40px;
}

.avatar {
    position: absolute;
    right: 40px;
    top: 54px;
}

.avatar_border {
    height: 300px;
    width: 300px;
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px;
}

.avatar_border>img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.content {
    background-color: var(--color-base);
    width: 100%;
    padding: 30px 40px 0;
    color: var(--color-text-on-base);
}

.content_row {
    width: 100%;
    padding-bottom: 30px;
}

.content_block {
    display: flex;
    flex-direction: column;
}

.two_col {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 5px 15px;
}

.contacts {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 5px 15px;
}

.contacts_row {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    font-size: 16px;
    margin-bottom: 10px;
}

.contacts_row>svg {
    height: 14px;
    width: 14px;
    margin-right: 15px;
    color: var(--color-accent);
}

.skills {
    gap: 10px 7px;
    display: flex;
    text-wrap: nowrap;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 5px;
  
}

.skills>span {
    border-radius: 20px;
    padding: 3px 10px;
    font-weight: 400;
    color: var(--color-text-on-accent);
    background-color: var(--color-accent);
    opacity: 0.85;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.job_block {
    display: grid;
    grid-template-columns: 32% 1fr;
    gap: 5px 15px;
    position: relative;
    padding-left: 30px;
}


.job {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.job_line {
    position: absolute;
    height: 100%;
    width: 1px;
    left: 5px;
    background-color: var(--color-accent);
}

.job_line:before {
    content: "";
    position: absolute;
    top: 13px;
    left: -10px;
    transform: translate(50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--color-accent);
    mix-blend-mode: darken;
}

.first.job_line {
    margin-top: 10px;
}

.first.job_line:before {
    top: 3px;
}

.last.job_line {
    height: calc(100% - 30px);
}

.job_title {
    font-weight: bold;
    font-size: 18px;
    color: var(--color-text-accent);
}

.job_description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 40px;
}

.job_description>ul {
    padding-left: 9px;
}

@media (max-width: 1000px) {
    .page {
        margin: unset;
    }
}

@media (max-width: 740px) {
    .top_block {
        padding: 20px;
    }

    .content {
        padding: 30px 20px 0;
    }

    .avatar {
        top: 10px;
        right: 20px;
        height: 100%;
    }

    .avatar_border {
        /* height: calc(100% - 20px);
        width: unset; */
        width: 157px;
        height: 157px;
    }
}

@media (max-width: 630px) {
    .contacts {
        grid-template-columns: 1fr 1fr;
    }

    .two_col {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .job_block {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 480px) {
    .contacts {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 40px;
    }

    .avatar_border {
        width: 125px;
        height: 125px;
    }

}