body {
    background-color: #fff;
}

h1 {
    font-size: 56px;
    width: 30%;
    line-height: 1;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

a:hover {
    color: white;
}

li::marker {
    content: '- ';
}

.page {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 30px auto;
    font-size: 20px;
}

.top_block {
    background-color: #474a50;
    color: white;
    border-radius: 40px 40px 0 0;
    position: relative;
    padding: 40px;
}

.avatar {
    position: absolute;
    right: 40px;
    top: 59px;
}

.avatar_border {
    height: 300px;
    width: 300px;
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px;
}

.avatar_border>img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.content {
    background-color: #dadadc;
    width: 100%;
    border-radius: 0 0 40px 40px;
    padding: 30px 40px 0;
    color: #474a50;
}

.content_row {
    width: 100%;
    padding-bottom: 30px;
}

.content_block {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.two_col {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 5px 15px;
}

.contacts_row {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    font-size: 16px;
    margin-bottom: 5px;
}

.contacts_row>img {
    height: 14px;
    width: 14px;
    margin-right: 15px;
}

.skills {
    gap: 10px 10px;
    display: flex;
    text-wrap: nowrap;
    width: 100%;
    flex-wrap: wrap;
}

.skills > span {
    border: 1px solid #474a50;
    border-radius: 20px;
    padding: 6px 20px;
    min-width: 50px;
    font-weight: bold;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.job {
    display: flex;
    flex-direction: column;

    position: relative;
    padding-left: 30px;
}

.job_line {
    position: absolute;
    height: 100%;
    width: 1px;
    left: 5px;
    background-color: #474a50;
}

.job_line:before {
    content: "";
    position: absolute;
    top: 13px;
    left: -10px;
    transform: translate(50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #474a50;
    mix-blend-mode: darken;
}

.first.job_line {
    margin-top: 10px;
}

.first.job_line:before {
    top: 3px;
}

.last.job_line {
    height: calc(100% - 30px);
}

.job_title {
    font-weight: bold;
    font-size: 18px;
}

.job_description {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-bottom: 30px;
}

.job_description>ul {
    padding-left: 9px;
}
