body {
    background-color: #fff;
}

.page {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 30px auto;
    font-size: 20px;
}

.top_block {
    background-color: #474a50;
    color: white;
    border-radius: 40px 40px 0 0;
    position: relative;
    padding: 40px;
}

h1 {
    font-size: 56px;
    width: 30%;
    line-height: 1;
}

.avatar {
    position: absolute;
    right: 40px;
    top: 59px;
}

.avatar_border {
    height: 300px;
    width: 300px;
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px;
}

.avatar_border>img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.content {
    background-color: #dadadc;
    width: 100%;
    border-radius: 0 0 40px 40px;
    padding: 25px 40px;
    color: #474a50;
}

.content_row {
    width: 100%;
    margin-bottom: 15px;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

.content_block {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.two_col {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 5px 15px;
}


.contacts_row {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    font-size: 16px;
    margin-bottom: 5px;
}

.contacts_row>img {
    height: 14px;
    width: 14px;
    margin-right: 15px;
}

.contacts_row>a:hover {
    color: white;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.job {
    display: flex;
    flex-direction: column;
}

.job_description {

}